#footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    height: 40px;
    background-color: rgb(248,248,248);
    border-top: solid 1px rgb(220,220,220);
}

a.footer-link {
    line-height: 40px;
    padding: 10px;
    font-size: 12px;
    font-weight: 400;
    color: grey;
    text-decoration: none;
    letter-spacing: 0.5px;
    cursor: pointer;
}

a.footer-link:hover {
    color: #49a8db;
}

a.footer-link.inactive {
    cursor: default;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 10px 0 0;
}

a.footer-link.inactive:hover {
    color: grey;
}
