/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 3, 2014, 1:41:56 PM
    Author     : alo
*/

@keyframes spin {
    from { transform: rotate(0deg); }
    to {transform: rotate(359deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(359deg);}
}
.icon-spin {
    animation: 1.5s linear 0s normal none infinite spin;
    -webkit-animation: 1.5s linear 0s normal none infinite spin;
    display: inline-block;
}

i:active { background-color: #428bca; }

.selectable-row:active { background-color: #428bca; color: white;}

.popover {
    max-width: 800px;
    min-width: 250px;
}

.jqui-draggable.ui-draggable-dragging {
    color: black;
    background: yellow; 
    font: bold; 
    z-index: 1000;
}

.panel, .panel-body, h4 {
    border: 0;
    padding: 0 !important;
    margin: 0 !important;
}

.navbar {
    margin: 0 !important;
}

.panel-heading {
    padding-top: 8px;
    padding-bottom: 5px;
}

.table > thead > tr > th, .table > thead > tr > td {
    border: 0;
}

.bperspective {
    display: none;
}

.dropdown-submenu{
    position:relative;
}

.dropdown-submenu > .dropdown-menu
{
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu{
    display:block;
}

.dropdown-submenu > a:after{
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}

.dropdown-submenu:hover > a:after{
    border-left-color:#ffffff;
}

.dropdown-submenu .pull-left{
    float:none;
}

.dropdown-submenu.pull-left > .dropdown-menu{
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}

.unobtrusive-icon {
    color: #e3e3e3;
}

.unobtrusive-icon:hover {
    color: dodgerblue;
}

/* Tree CSS */
.tree li {
    margin: 0px 0;

    list-style-type: none;
    position: relative;
    padding: 20px 5px 0px 5px;
}

.tree li::before{
    content: '';
    position: absolute;
    top: 0;
    width: 1px;
    height: 100%;
    right: auto;
    left: -20px;
    border-left: 1px solid #ccc;
    bottom: 50px;
}
.tree li::after{
    content: '';
    position: absolute;
    top: 30px;
    width: 25px;
    height: 20px;
    right: auto;
    left: -20px;
    border-top: 1px solid #ccc;
}
.tree li a{
    display: inline-block;
    border: 1px solid #ccc;
    padding: 5px 10px;
    text-decoration: none;
    color: #666;
    font-family: arial, verdana, tahoma;
    font-size: 11px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

/*Remove connectors before root*/
.tree > ul > li::before, .tree > ul > li::after{
    border: 0;
}
/*Remove connectors after last child*/
.tree li:last-child::before{
    height: 30px;
}

/*Hover effects*/
.tree li a:hover, .tree li a:hover+ul li a {
    background: #c8e4f8; color: #000; border: 1px solid #94a0b4;
}
/*Connector styles on hover*/
.tree li a:hover+ul li::after,
.tree li a:hover+ul li::before,
.tree li a:hover+ul::before,
.tree li a:hover+ul ul::before{
    border-color:  #94a0b4;
}

/* Clear Search */
.searchclear {
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
}

.highlightEffectiveTime {
    border: 2px solid blue;
    border-style:dashed;
}

.menu-item-active {
    background-color: #99ccff;
}

/* Expressions language */

.expression-code {
    font-family: "Courier New", monospace;
    white-space: pre;
    /*background-color: #000000;*/
    font-weight: bold;
    font-size: 13px;
}

.exp-brackets {
    color: #3300aa;
}

.exp-operators {
    color: sienna;
}

.exp-pipes {
    color: #086d11;
}

.exp-term {
    color: #086d11;
}
.w-10 {
    width: 10% !important;
}
.w-20 {
    width: 20% !important;
}